<!doctype html>
<html>

<head>
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        /* https://www.w3schools.com/howto/howto_css_loader.asp */
        .loader {
            border: 16px solid #BCBBBA;
            /* Light grey */
            border-top: 16px solid #000000;
            border-left: 16px solid #000000;
            border-bottom: 16px solid #D71920;
            border-right: 16px solid #000000;
            /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin-right:auto;
            margin-left:auto;
            animation: spin 2s linear infinite;

        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div id='app'>
        <v-app>
            <v-content>
                <v-container>
                    <v-row>
                        <v-col>
                            <div class="display-2 text-center mb-12">Strain Guage Test Data</div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col class="title">
                            Pick a location:
                        </v-col>
                        <v-col v-for="(b,i) in bridgeNames" :key="b">
                            <v-btn :color="bridge==b?'blue':'white'" @click="chooseBridge(b)">{{b}}</v-btn>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col class="title">
                            Pick a test speed:
                        </v-col>
                        <v-col v-for="s in testSpeeds" :key="s">
                            <v-btn :color="speed==s?'blue':'white'" @click="chooseSpeed(s)">{{s}}
                            </v-btn>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col class="title">
                            Pick a test run:
                        </v-col>
                        <v-col v-for="r in testRuns" :key="r">
                            <v-btn :color="run==r?'blue':'white'" @click="chooseRun(r)">{{r}}
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-switch v-model="showSensorName" label="Show Sensor Names">
                        </v-col>
                    </v-row>

                </v-container>
                <v-container v-if="rows().length > 0 && !loading" class="text-center">
                    <v-row class="text-center">
                        <v-col>
                            <v-card>
                                <v-container>
                                    <v-row>
                                        <v-col>
                                            <div>Date of Test:</div>
                                            <div class="title">{{date}}</div>
                                        </v-col>
                                        <v-col>
                                            <div>
                                                Speed of Travel:</div>
                                            <div class="title"> {{speed}}
                                            </div>

                                        </v-col>
                                        <v-col>

                                            <div>
                                                Type of Bridge:</div>
                                            <div class="title"> {{type}}
                                            </div>

                                        </v-col>
                                        <v-col>

                                            <div>
                                                Direction of Travel:</div>
                                            <div class="title"> {{directionTraveled}}
                                            </div>

                                        </v-col>
                                        <v-col>

                                            <div>
                                                Lane of Travel:</div>
                                            <div class="title"> {{laneTraveled}}
                                            </div>

                                        </v-col>
                                        <v-col>

                                            <div>
                                                Notes:</div>
                                            <div class="title"> {{notes}}
                                            </div>

                                        </v-col>
                                        <v-col>

                                            <div>
                                                Total Data Points:</div>
                                            <div class="title"> {{rows().length}}
                                            </div>


                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>
                            <v-col>
                    </v-row>
                    <v-row>
                        <v-col class="title">
                            Legend:
                        </v-col>
                        <v-col v-for="colorOption in colorOptions" :key="colorOption.amount" class="text-center">
                            <v-card :color="colorOption.color">
                                {{colorOption.amount}}
                            </v-card>
                        </v-col>
                    </v-row>

                    <v-row class="my-5">
                        <v-col cols="1" class="title">
                            Timeline:
                        </v-col>
                        <v-col cols="11">
                            <v-slider min="1" :max="rows().length" v-model="t" thumb-label="always" class="mb-n5">
                            </v-slider>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" class="title">
                            {{bridgeDataUp}}
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-card>
                                <v-container>

                                    <v-row>
                                        <v-col>
                                            Top Sensors
                                        </v-col>
                                        <v-col v-for="bridge in currentBridge.topLayer" :key="bridge">
                                            <v-card :color="getColor(getBridge(bridge))">
                                                <div v-if="showSensorName">{{bridge ? bridge : "-"}}</div>
                                                <div>{{getBridge(bridge)}} </div>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            Middle Sensors
                                        </v-col>
                                        <v-col v-for="bridge in currentBridge.centerLayer" :key="bridge">
                                            <v-card :color="getColor(getBridge(bridge))">
                                                <div v-if="showSensorName">{{bridge ? bridge : "-"}}</div>
                                                <div>{{getBridge(bridge)}} </div>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            Special Sensors
                                        </v-col>
                                        <v-col v-for="bridge in currentBridge.otherSensors" :key="bridge">
                                            <v-card :color="getColor(getBridge(bridge))">
                                                <div v-if="showSensorName">{{bridge ? bridge : "-"}}</div>
                                                <div>{{getBridge(bridge)}} </div>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col>
                                            Bottom Sensors
                                        </v-col>
                                        <v-col v-for="bridge in currentBridge.bottomLayer" :key="bridge">
                                            <v-card :color="getColor(getBridge(bridge))">
                                                <div v-if="showSensorName">{{bridge ? bridge : "-"}}</div>
                                                <div>{{getBridge(bridge)}} </div>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                    <v-row v-if="currentBridge.otherSensors2">
                                        <v-col>
                                            Special Sensors 2
                                        </v-col>
                                        <v-col v-for="bridge in currentBridge.otherSensors2" :key="bridge">
                                            <v-card :color="getColor(getBridge(bridge))">
                                                <div v-if="showSensorName">{{bridge ? bridge : "-"}}</div>
                                                <div>{{getBridge(bridge)}} </div>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" class="title">
                            South
                        </v-col>
                    </v-row>

                </v-container>
                <div v-else>
                    
                    <v-container v-if="!loading" class="title text-center">
                        <v-row>
                            <v-col>
                                Pick a location, speed and test run to see results here
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-container v-if="loading" class="title text-center">
                        <v-row>
                            <v-col>
                                <div class="loader"></div>
                            </v-col>
                        </v-row>
                    </v-container>
                </div>


            </v-content>
        </v-app>

    </div>

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://unpkg.com/vue'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"
        integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>


    <script>




        _rows = []

        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                loading: false,
                temp: "hi",
                date: "",
                type: "",
                bridges: [],
                directionTraveled: "",
                laneTraveled: "",
                notes: "",
                t: 0,
                bridge: "Ponca",
                showSensorName: false,


                speed: 0,
                run: 0,
                selected: 0,
                data: [],
                labels: [],
                allColors: [
                    "red",
                    "pink",
                    "purple",
                    "deep-purple",
                    "indigo",
                    "blue ",
                    "light-blue ",
                    "cyan",
                    "teal",
                    "green",
                    "light-green",
                    "lime",
                    "yellow",
                    "amber",
                    "orange"
                ],
                colorOptions: [],
                maxAmount: 100,
                minAmount: 2,


            },
            mounted() {
                for (let i = 0; i < this.allColors.length; i++) {
                    let amount = Math.floor((this.maxAmount - this.minAmount) / this.allColors.length * i + this.minAmount);
                    this.colorOptions.push({
                        amount,
                        color: this.allColors[i]
                    })
                }
                let that = this;
                $.getJSON("data.json", function (data) {
                    that.data = data;
                    console.log(that.data);
                    $.getJSON("bridges.json", function (data) {
                        that.bridges = data;
                        console.log(that.bridges);
                    });
                });

            },
            computed: {
                currentBridge() {
                    let index = this.bridgeNames.indexOf(this.bridge);
                    return this.bridges[index];
                },
                bridgeData() {
                    if (!this.bridge) return [];
                    return this.data.filter(i => i.Bridge == this.bridge);
                },
                bridgeDataAtSpeed() {
                    if (!this.bridge) return [];
                    return this.bridgeData.filter(i => i.Speed == this.speed);
                },
                bridgeDataUp() {
                    if (!this.bridges) return "No bridges";
                    return this.currentBridge.up;
                },
                speedData() {
                    if (!this.bridge) return [];
                    return this.bridgeData.filter(i => i.Speed == +this.speed);
                },
                testRuns() {
                    if (!this.bridge) return [];
                    return _.uniqBy(this.bridgeDataAtSpeed, "Test Run").map(i => i["Test Run"]);
                },
                testSpeeds() {
                    if (!this.bridge) return [];
                    return _.uniqBy(this.bridgeData, "Speed").map(i => i.Speed);
                },
                bridgeTestDate() {
                    if (!this.bridge || !this.data) return ""
                    return this.data.find(i => i.Bridge == this.bridge).Date;
                },
                bridgeNames() {
                    if (!this.data) return []
                    return _.uniqBy(this.data, 'Bridge').map(i => i.Bridge);
                }
            },
            methods: {
                getBridge(bridge) {
                    if (!bridge) return "-";
                    let index = this.labels.findIndex(i => i.includes(bridge))
                    let value = this.rows()[this.t][index];
                    if (!value) return "-"
                    let shortened = value.substring(0, 4);
                    return shortened;
                },
                rows() {
                    return _rows;
                },
                chooseBridge(b) {
                    this.bridge = b;
                    this.chooseSpeed(0);
                },
                chooseSpeed(s) {
                    this.speed = s;
                    this.chooseRun(0);
                },
                chooseRun(r) {
                    this.t = 0;
                    let that = this;
                    this.run = r;
                    let file = this.data.find(i => i.Bridge == this.bridge && i.Speed == this.speed && i["Test Run"] == this.run);
                    if (!file) {
                        _rows = [];
                        return;
                    }
                    this.loading = true;
                    this.date = file.Date;
                    this.speed = file.Speed;
                    this.type = file.Type;
                    this.directionTraveled = file.DirectionTraveled;
                    this.laneTraveled = file.LaneTraveled;
                    this.notes = file.Notes;


                    //Now figure out the file name
                    let sheet = "(SHEET2)"
                    let Ponca = "Ponca";
                    let Waterloo = "Waterloo";
                    let Ashland = "Ashland";
                    let Licoln = "Licoln";

                    let uri = "./data/";
                    let paddedRun = this.run < 10 ? "0" + this.run : "" + this.run;

                    if (file.Bridge == Ponca || file.Bridge == Waterloo) {
                        uri += file.FileName + " (SHEET2).csv";
                        uri = uri.replace("Ponca", "Ponka");

                    }
                    else {
                        if (file.Bridge == Ashland) {
                            uri += `CONC_${file.Speed}MPH_${paddedRun} (SHEET1).csv`
                        }
                        else {
                            uri += `STEEL_${file.Speed}MPH_${paddedRun} (SHEET1).csv`
                        }
                    }

                    console.log(uri);

                    $(document).ready(function () {
                        $.ajax({
                            type: "GET",
                            url: uri,
                            dataType: "text",
                            success: function (data) { that.processData(data); }

                        });
                    });
                },
                processData(data) {
                    this.temp = Math.random(),
                        console.log(this.temp);
                    console.log("Processing data");
                    this.lines = data.split("\n");
                    _rows = [];
                    for (let i = 1; i < this.lines.length; i++) {
                        _rows.push(this.lines[i].split(","));
                    }
                    this.labels = this.lines[0].split(",");
                    console.log("Done processing data");
                    console.log(this.rows().length);
                    this.loading = false;

                },
                shorten(s) {
                    if (!s) return "--"
                    return s.substring(0, 5);
                },
                getColor(c) {
                    if (!c || c == "-") return "white";
                    for (let i = 0; i < this.colorOptions.length; i++) {
                        if (+c < +(this.colorOptions[i].amount))
                            return this.colorOptions[i].color;
                    }
                    return this.colorOptions[this.colorOptions.length - 1].color;
                }


            },
        });







    </script>

</body>

</html>